.footer {
    max-width: 1512px;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(33, 33, 33);
    margin-top: 53px;
}

  .footer_container{
    display: flex;
    max-width: 1520px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 196px 0px;
  }

  .footer_navigation{

    display: flex;
    justify-content: center;
    align-items: center;

  }

  .fotter_title {
    width: 249.17px;
    height: 24px;
  color: rgb(246, 247, 248);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 35px;
  }
  .footer_button{

    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    width: 119px;
    height: 44px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    margin-left: 15.5px;
    margin-bottom: 25px;
     }



    .full-width-line {
      border: none;
      height: 1px;
      background-color: #ccc;
      max-width: 1120px; 
      width: 100%;
      margin: 0 auto;
      margin-bottom: 35px;
  
    }

    .footer_nav {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      flex-wrap: wrap;
      max-width: 1120px;
      margin: 0px auto;
      padding: 0 16px 40px;
      color: rgb(246, 247, 248);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;

    }

    .footer_nav ul {
      flex: 1;
      min-width: 200px;
      margin: 0 20px;
    }
  .follow {

    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 125px;
   

  }

  .follow p{

color: rgb(246, 247, 248);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;


  }

  .social_icons {

    display: flex;
    gap: 12px;
align-items: start;
margin-top: 14.5px;

  }

.getOn {

  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 25.54px;
}




  .ended {
    margin-top: 24px;
    font-size: 13px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
    gap: 23.81px;

    
    
color: rgb(255, 255, 255);
font-size: 14px;
font-weight: 400;
line-height: 20px;
margin-left: 187px;
  }


  @media screen and (max-width: 393px) {
  

    .footer_container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2px;
   
    
    }

    .fotter_title{
    display: flex;
    justify-content: flex-start;
    
      
    }

    .footer_button{

    white-space: nowrap;
    width: 50%;
    padding: 10px 14px;
    font-size: 10px;
    flex-shrink: 0;
    }
      

    

    .footer_nav {

      font-size: 12px;
      gap: 20px;
      
    }

    .footer_nav {
      
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      gap: 10px;
      padding: 0;
    }
    .footer_nav ul {
      min-width: 33%;
      margin: 0;
      margin-top: 34px;
    }
    
    .getOn {

      display: none;
      
    }

    .ended {
      margin: 24px 0 0 0;
      justify-content: flex-start;
      margin-left: 0;
      gap: 0;
    }
    .footer_hidden{
      display: none;
    }

    .logo-adaptiv {

      display: flex;
      justify-content: flex-start;
      margin-top: 54.5px;
    }
}

